<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>S. F. P</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/ic_monetization_on_black_24dp.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="ic_monetization_on_black_24dp.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/ic_monetization_on_black_24dp_2x.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-blue.min.css" />

    <link rel="stylesheet" href="css/styles.css">

    <link href="css/mfb.min.css" rel="stylesheet"/>
    <link href="css/sweetalert.css" rel="stylesheet"/>
    <link href="css/csspinner.min.css" rel="stylesheet"/>
    <link href="css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />


    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }

        option{
            color: #673AB7;
            font-weight: 600;
        }
        
        .mdl-data-table td{
            white-space: initial;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
          display: none !important;
        }
    </style>
</head>
<body ng-app="app" ng-controller="IndexCtrl" ng-init="stateMenu = 'closed';" ng-cloak>
    <div ng-cloak class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs mdl-color--grey-300">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                <div>
                  <button id="year-menu-lower-left" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                  	<label>{{anoSelecionado}}</label>
                    <i class="material-icons">arrow_drop_down</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="year-menu-lower-left">
                      <li class="mdl-menu__item" ng-repeat="ano in anos" ng-click="changeAnoSelecionado(ano)">{{ano}}</li>
                  </ul>
                </div>

                <div class="mdl-cell--hide-desktop mdl-cell--hide-desktop">
                  <button id="month-menu-lower-left" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                  	<label>{{nomeMesSelecionado}}</label>
                    <i class="material-icons">arrow_drop_down</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="month-menu-lower-left">
                      <li class="mdl-menu__item" ng-repeat="mes in meses" ng-click="carregaLancamentos(mes)">{{mes.descricao}}</li>
                  </ul>
                </div>

                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-cell--hide-phone mdl-cell--hide-tablet
                          mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon"
                        for="fixed-header-drawer-exp">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample"
                            id="fixed-header-drawer-exp">
                    </div>
                </div>
            </div>
            
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-cell--hide-phone mdl-cell--hide-tablet">
              <a class="mdl-layout__tab" ng-repeat="mes in meses" ng-click="carregaLancamentos(mes)"
                 ng-class="{ 'is-active': mes.id == selectedIndex }" style="cursor:pointer;">
                  {{ mes.descricao }}
              </a>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title"><i class="material-icons" style="vertical-align:sub;">monetization_on</i>&nbsp S.F.P </span>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" menu-close ui-sref="home">HOME</a>
                <a class="mdl-navigation__link" menu-close ui-sref="lancamentos">LANÇAMENTOS</a>
                <a class="mdl-navigation__link" menu-close ui-sref="categorias">CATEGORIAS</a>
                <a class="mdl-navigation__link" menu-close ui-sref="contas">CONTAS</a>
                <a class="mdl-navigation__link" menu-close ui-sref="cartoes">CARTÕES</a>
            </nav>
        </div>
        <main class="mdl-layout__content" ng-cloak>
            <div ui-view></div>
        </main>

        <nav mfb-menu position="br" effect="zoomin" id="view-source" toggling-method="click"
          active-icon="add" resting-icon="add" data-mfb-state="{{stateMenu}}" ng-click="changeStateMfb()">
          <a mfb-button ui-sref="cadastro" icon="attach_money" label="Lançamentos" classe="mdl-color--indigo-500"></a>
          <a mfb-button ui-sref="contas" icon="account_balance" label="Contas" classe="mdl-color--indigo-500"></a>
          <a mfb-button ui-sref="cartoes" icon="credit_card" label="Cartões" classe="mdl-color--indigo-500"></a>
        </nav>

    </div>

    <script src="node_modules/moment/min/moment.min.js"></script>
    
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>

    <script src="js/material.min.js"></script>
    <script src="js/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
    <script src="node_modules/angular-moment/angular-moment.min.js"></script>

    <!-- <script src="js/highcharts.js"></script> -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/solid-gauge.src.js"></script>
    
    <script src="js/Chart.js"></script>
    <script src="js/angular-chart.js"></script>

    <script src="app/app.js"></script>
    
    <script src="app/factories/dbFactory.js"></script>
    
    <script src="app/filters/filters.js"></script>
    
    <script src="app/diretivas/directives.js"></script>
    <script src="js/mfb-directive.js"></script>
    <script src="js/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
    <script src="js/angular-locale_pt-br.js"></script>
    <script src="js/sweetalert.min.js"></script>

    <script src="app/controllers/indexCtrl.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/LancamentosCtrl.js"></script>
    <script src="app/controllers/CadastroCtrl.js"></script>
    <script src="app/controllers/CategoriaCtrl.js"></script>
    <script src="app/controllers/ContasCtrl.js"></script>
    <script src="app/controllers/CartoesCtrl.js"></script>
</body>
</html>
