<div class="page-content">
    <div class="mdl-grid" ng-show="!isLoading"> 
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-color--white mdl-cell mdl-cell--10-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--1-offset-desktop
            mdl-shadow--2dp mdl-color-text--grey-700">
            <div class="mdl-tabs__tab-bar">
                <a href="#cadastro" class="mdl-tabs__tab mdl-cell--6-col is-active">Cadastro</a>
                <a href="#cartoes" class="mdl-tabs__tab mdl-cell--6-col">Cartões</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="cadastro">
                
                <div class="mdl-grid">
                
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet"
                         style="padding-bottom:0px;">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--8-col-tablet"
                               ng-repeat="icon in icons"> 
                            <input type="radio" ng-model="item.bandeira" class="mdl-radio__button" name="bandeira" value="{{icon.icon}}" >
                            <span class="mdl-radio__label">
                                <i class="fa {{icon.icon}}" aria-hidden="true" style="font-size:2em; vertical-align: middle;"></i>
                                {{icon.descricao}}
                            </span>
                        </label>
                    </div>
                </div>
                                
                <div class="mdl-grid" style="align-items: center;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                        <input class="mdl-textfield__input" type="text" name="descricao" ng-model="item.descricao"
                          style="margin-top:7px;">
                        <label class="mdl-textfield__label" for="descricao">
                          Descrição
                        </label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                        <input class="mdl-textfield__input" type="number" name="numero" ng-model="item.numero"
                          style="margin-top:7px;">
                        <label class="mdl-textfield__label" for="descricao">
                          Número
                        </label>
                    </div>

                </div>
                
                <div class="mdl-grid" style="align-items: center;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                        <input class="mdl-textfield__input" type="text" name="limite" ng-model="item.limite"
                          style="margin-top:7px;" ui-money-mask>
                        <label class="mdl-textfield__label" for="limite">
                          Limite
                        </label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                        <input class="mdl-textfield__input" type="text" name="utilizado" ng-model="item.utilizado"
                          style="margin-top:7px;" ui-money-mask>
                        <label class="mdl-textfield__label" for="utilizado">
                          Utilizado
                        </label>
                    </div>

                </div>
                
                <div class="mdl-grid" style="align-items: center;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                        <input class="mdl-textfield__input" type="number" name="vencimento" ng-model="item.vencimento"
                          style="margin-top:7px;">
                        <label class="mdl-textfield__label" for="vencimento">
                          Vencimento
                        </label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                        <input class="mdl-textfield__input" type="number" name="fechamento" ng-model="item.fechamento"
                          style="margin-top:7px;">
                        <label class="mdl-textfield__label" for="fechamento">
                          Fechamento
                        </label>
                    </div>

                </div>
                
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone" style="text-align:center">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" ng-click="limpar();">
                      Cancelar
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="salvar()">
                      Salvar
                    </button>
                  </div>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent 
                                 mdl-cell--hide-desktop mdl-cell mdl-cell--12-col" ng-click="salvar()">
                      Salvar
                  </button>
                </div>    
            </div>
            <div class="mdl-tabs__panel" id="cartoes">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="cartao in cartoes">
                                
                                <span class="mdl-list__item-primary-content">
                                    <i class="fa {{cartao.bandeira}} fa-4" aria-hidden="true" style="font-size:3em; float:left; margin-right:16px"></i>
                                   
                                    <span>{{cartao.descricao}}</span>
                                    <span class="mdl-list__item-text-body">
                                        <label>
                                            Limite Total: {{cartao.limite | currency : "R$"}} 
                                            <b>|</b>                                        
                                        </label>
                                        <label>
                                            Utilizado: {{cartao.utilizado | currency : "R$"}} 
                                            <b>|</b> 
                                        </label>
                                        <label>
                                            Disponível: {{cartao.limite - cartao.utilizado | currency : "R$"}} 
                                            <b>|</b> 
                                        </label>
                                        <label>
                                            Melhor data de compra: {{cartao.fechamento + 1}} 
                                            <b>|</b> 
                                        </label>
                                        <label>
                                            Vencimento todo dia: {{cartao.vencimento}}
                                        </label>
                                    </span>
                                </span>
                                <span class="mdl-list__item-secondary-content">
                                    <a class="mdl-list__item-secondary-action mdl-color-text--grey-700" href="#" style="padding-top:20px;">
                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </li>
                        </ul>   
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div ng-show="isLoading" class="csspinner traditional"></div>
</div>