<div class="page-content">
    <div class="mdl-grid" ng-show="!isLoading"> 
        
        <div class="mdl-color--white mdl-cell mdl-cell--10-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--1-offset-desktop
        mdl-shadow--2dp mdl-color-text--grey-700">
            <div class="mdl-grid" style="align-items: center;">
                
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                    
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-cell mdl-cell--1-col" for="{{icon}}"
                           ng-repeat="icon in icons">
                        <input type="radio" ng-model="item.icon" id="{{icon}}" class="mdl-radio__button" name="options" value="{{icon}}">
                        <span class="mdl-radio__label"><i class="material-icons">{{icon}}</i></span>
                    </label>
                </div>
                
            </div>
            <div class="mdl-grid" style="align-items: center;">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--10-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                    <input class="mdl-textfield__input" type="text" name="descricao" ng-model="item.descricao"
                      style="margin-top:7px;">
                    <label class="mdl-textfield__label" for="descricao">
                      Descrição
                    </label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent 
                    mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--8-col-tablet" ng-click="salvar(item)">
                      Salvar
                </button>
            </div>
            
        </div>
        
        <div class="mdl-color--white mdl-cell mdl-cell--10-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--1-offset-desktop
            mdl-shadow--2dp mdl-color-text--grey-700">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet" ng-repeat="categoria in categorias"
                     style="cursor: pointer;">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon" style="vertical-align: bottom;">{{categoria.icon}}</i>
                            {{categoria.descricao}}
                    </span>    
                </div>
            </div>    
        </div>
    </div>
    <div ng-show="isLoading" class="csspinner traditional"></div>
</div>