<div class="page-content">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" ng-show="!isLoading && lancamentos.length > 0">
        <div class="mdl-tabs__tab-bar mdl-color--white">
            <a href="#tab1" class="mdl-tabs__tab mdl-cell--6-col is-active" ng-click="initLancamentos()">Lançamentos</a>
            <a href="#tab2" class="mdl-tabs__tab mdl-cell--6-col" ng-click="initFaturas()">Faturas</a>
        </div>
        
        <div class="mdl-tabs__panel is-active" id="tab1">
            <div class="mdl-grid">
            <div class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp mdl-color--white">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">RESULTADOS DO MÊS</h2>
                </div>
                <div class="mdl-card__supporting-text" style="padding: 0px;width: 100%; font-size:0.9rem;">
                    <table style="width:100%; max-width:100%; text-align:center;">
                        <thead>
                            <tr>
                                <th>Conta</th>
                                <th>Entradas(R$)</th>
                                <th>Saídas(R$)</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="consolidadoGeral in consolidadosGeral">
                                <td>{{consolidadoGeral.conta}}</td>
                                <td class="mdl-color-text--blue-500">{{consolidadoGeral.entrada  | currency : "R$"}}</td>
                                <td class="mdl-color-text--red-500">{{consolidadoGeral.saida  | currency : "R$"}}</td>
                                <td class="mdl-color-text--blue-500">{{consolidadoGeral.total  | currency : "R$"}}</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totaisConsolidadosGeral.entrada | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--red-500"><b>{{totaisConsolidadosGeral.saida | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totaisConsolidadosGeral.total | currency : "R$"}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border" style="text-align:right;">
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">visibility_off</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">autorenew</i>
                    </button>
                </div>
                <div class="mdl-card__menu">

                </div>
            </div>
            <div class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp mdl-color--white">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">SALDOS ABERTOS</h2>
                </div>
                <div class="mdl-card__supporting-text" style="padding: 0px;width: 100%; font-size:0.9rem;">
                    <table style="width:100%; text-align:center;">
                        <thead>
                            <tr>
                                <th>Conta</th>
                                <th>Entradas(R$)</th>
                                <th>Saídas(R$)</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="consolidadoGeral in consolidadosGeral">
                                <td>{{consolidadoGeral.conta}}</td>
                                <td class="mdl-color-text--blue-500">{{consolidadoGeral.entradaAberta  | currency : "R$"}}</td>
                                <td class="mdl-color-text--red-500">{{consolidadoGeral.saidaAberta  | currency : "R$"}}</td>
                                <td class="mdl-color-text--blue-500">{{consolidadoGeral.totalAberto  | currency : "R$"}}</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totaisConsolidadosGeral.entradaAberta | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--red-500"><b>{{totaisConsolidadosGeral.saidaAberta | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totaisConsolidadosGeral.totalAberto | currency : "R$"}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border" style="text-align:right;">
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">visibility_off</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">autorenew</i>
                    </button>
                </div>
                <div class="mdl-card__menu">

                </div>
            </div>
            <div class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp mdl-color--white">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">SALDOS CONFIRMADOS</h2>
                </div>
                <div class="mdl-card__supporting-text" style="padding: 0px;width: 100%; font-size:0.9rem;">
                    <table style="width:100%; text-align:center;">
                        <thead>
                            <tr>
                                <th>Conta</th>
                                <th>Entradas(R$)</th>
                                <th>Saídas(R$)</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="consolidadoGeral in consolidadosGeral">
                                <td>{{consolidadoGeral.conta}}</td>
                                <td class="mdl-color-text--blue-500">{{consolidadoGeral.entradaFechada  | currency : "R$"}}</td>
                                <td class="mdl-color-text--red-500">{{consolidadoGeral.saidaFechada  | currency : "R$"}}</td>
                                <td class="mdl-color-text--blue-500">{{consolidadoGeral.totalFechado  | currency : "R$"}}</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totaisConsolidadosGeral.entradaFechada | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--red-500"><b>{{totaisConsolidadosGeral.saidaFechada | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totaisConsolidadosGeral.totalFechado | currency : "R$"}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border" style="text-align:right;">
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">visibility_off</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">autorenew</i>
                    </button>
                </div>
                <div class="mdl-card__menu">

                </div>
            </div>
            <div class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp mdl-color--white">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">SALDOS PROJETADOS</h2>
                </div>
                <div class="mdl-card__supporting-text" style="padding: 0px;width: 100%; font-size:0.9rem;">
                    <table style="width:100%; text-align:center;">
                        <thead>
                            <tr>
                                <th>Conta</th>
                                <th>Resultado(R$)</th>
                                <th>Anterior(R$)</th>
                                <th>Total(R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="saldoProjetado in saldosProjetados">
                                <td>{{saldoProjetado.conta}}</td>
                                <td class="mdl-color-text--blue-500">{{saldoProjetado.resultado  | currency : "R$"}}</td>
                                <td class="mdl-color-text--red-500">{{saldoProjetado.anterior  | currency : "R$"}}</td>
                                <td class="mdl-color-text--blue-500">{{saldoProjetado.total | currency : "R$"}}</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totalSaldoProjetado.resultado | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--red-500"><b>{{totalSaldoProjetado.anterior | currency : "R$"}}</b></td>
                                <td class="mdl-color-text--blue-500"><b>{{totalSaldoProjetado.total | currency : "R$"}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border" style="text-align:right;">
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">visibility_off</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">autorenew</i>
                    </button>
                </div>
                <div class="mdl-card__menu">

                </div>
            </div>
        </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                    <div class="mdl-card mdl-shadow--2dp" style="width:100%;">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">CONTAS A PAGAR</h2>

                        </div>
                        <table class="mdl-card__supporting-text mdl-data-table mdl-js-data-table mdl-shadow--2dp" 
                               style="padding: 0px; width:100%;">
                            <thead>
                                <tr>
                                    <th class="align-left">Categoria</th>
                                    <th class="mdl-data-table__cell--non-numeric align-left no-padding-left">Descrição</th>
                                    <th class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone align-left no-padding-left">Conta</th>
                                    <th class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone align-left no-padding-left">Vencimento</th>
                                    <th class="align-left no-padding-left">Valor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lancamento in lancamentos | filter: { tipo: 'despesa', pagamentoRealizado: despesasAbertas ? false : undefined}">
                                    <td class="mdl-cell--hide-phone align-left">
                                        <i class="material-icons" style="vertical-align: bottom;">{{ lancamento.categoria.icon }}</i>
                                        {{ lancamento.categoria.descricao }}
                                    </td>
                                    <td class="mdl-cell--hide-desktop mdl-cell--hide-tablet align-center">
                                        <i class="material-icons">{{ lancamento.categoria.icon }}</i>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric align-left no-padding-left">{{ lancamento.descricao }}</td>
                                    <td class="mdl-cell--hide-phone align-left no-padding-left">{{ lancamento.conta }}</td>
                                    <td class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone align-left no-padding-left">{{ lancamento.vencimento | date:'dd/MM/yyyy' }}</td>
                                    <td class="align-left no-padding-left">{{ lancamento.valor | currency : "R$"}}</td>
                                    <td class="align-left no-padding-left no-padding-right">
                                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary" ng-click="remover(lancamento)">
                                            <i class="material-icons">delete</i>
                                        </button> 
                                        <button class="mdl-button mdl-js-button mdl-button--icon" ng-show="!lancamento.pagamentoRealizado" 
                                                ng-click="confirmarPagamento(lancamento);">
                                            <i class="material-icons">done</i>
                                        </button>
                                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                                                ng-show="lancamento.pagamentoRealizado">
                                            <i class="material-icons">done_all</i>
                                        </button>                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mdl-card__actions mdl-card--border mdl-color-text--red-500" style="text-align:right;">
                            <h5>Total: {{ totalDespesa | currency : "R$" }}</h5>
                        </div>
                        <div class="mdl-card__menu">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                              <input type="checkbox" id="switch-1" class="mdl-switch__input" checked ng-model="despesasAbertas">
                              <span class="mdl-switch__label"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                <div class="mdl-card mdl-shadow--2dp" style="width:100%;">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">CONTAS A RECEBER</h2>
                    </div>
                    <table class="mdl-card__supporting-text mdl-data-table mdl-js-data-table mdl-shadow--2dp" 
                           style="padding: 0px; width:100%;">
                        <thead>
                            <tr>
                                <th class="align-left">Categoria</th>
                                <th class="mdl-data-table__cell--non-numeric align-left no-padding-left">Descrição</th>
                                <th class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone align-left no-padding-left">Conta</th>
                                <th class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone align-left no-padding-left">Vencimento</th>
                                <th class="align-left no-padding-left">Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lancamento in lancamentos | filter: { tipo: 'receita', pagamentoRealizado: receitasAbertas ? false : undefined}" 
                                style="cursor:pointer;">
                                <td class="mdl-cell--hide-phone align-left">
                                    <i class="material-icons" style="vertical-align: bottom;">{{ lancamento.categoria.icon }}</i>
                                    {{ lancamento.categoria.descricao }}
                                </td>
                                <td class="mdl-cell--hide-desktop mdl-cell--hide-tablet align-center">
                                    <i class="material-icons">{{ lancamento.categoria.icon }}</i>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric align-left no-padding-left">{{ lancamento.descricao }}</td>
                                <td class="mdl-cell--hide-phone align-left no-padding-left">{{ lancamento.conta }}</td>
                                <td class="mdl-data-table__cell--non-numeric mdl-cell--hide-phone align-left no-padding-left">
                                    {{ lancamento.vencimento | date:'dd/MM/yyyy' }}
                                </td>
                                <td class="align-left no-padding-left">{{ lancamento.valor | currency : "R$"}}</td>
                                <td class="align-left no-padding-left no-padding-right">
                                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary" ng-click="remover(lancamento)">
                                        <i class="material-icons">delete</i>
                                    </button> 
                                    <button class="mdl-button mdl-js-button mdl-button--icon" ng-show="!lancamento.pagamentoRealizado" 
                                            ng-click="confirmarPagamento(lancamento);">
                                        <i class="material-icons">done</i>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                                            ng-show="lancamento.pagamentoRealizado">
                                        <i class="material-icons">done_all</i>
                                    </button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mdl-card__actions mdl-card--border mdl-color-text--blue-500" style="text-align:right;">
                        <h5>Total: {{ totalReceita | currency : "R$" }}</h5>
                    </div>
                    <div class="mdl-card__menu">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                          <input type="checkbox" id="switch-2" class="mdl-switch__input" checked ng-model="receitasAbertas">
                          <span class="mdl-switch__label"></span>
                        </label>
                    </div>
                </div>
            </div>
            </div>
            <div class="mdl-grid" style="min-height: 360px;">
            <div id="chartDespesas" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-shadow--2dp mdl-color--white">
                Despesas Por Categoria
            </div>
            <div id="chartReceitas" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-shadow--2dp mdl-color--white">
                Receitas Por Categoria
            </div>
        </div>
            <div class="mdl-grid" style="min-height: 360px;">
            <div id="chartDespesasConta" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-shadow--2dp mdl-color--white">
                Despesas Por Contas
            </div>
            <div id="chartReceitasConta" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-shadow--2dp mdl-color--white">
                Receitas Por Contas
            </div>
        </div>
            <div class="mdl-grid">
            <div id="chartMovimentacao" class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-shadow--2dp mdl-color--white">
                
            </div>
        </div>    
        </div>
        
        <div class="mdl-tabs__panel" id="tab2">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp mdl-color--white" style="width:100%">
                        <div class="mdl-card__title no-padding-bottom">
                            <h2 class="mdl-card__title-text">{{cartaoSelecionado.descricao}}</h2>
                        </div>
                        <div class="mdl-card__supporting-text mdl-grid" style="padding: 0px; align-items: center;">
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataChartCartao" chart-labels="labelsChartCartao">
                                </canvas> 
                            </div>

                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <ul class="mdl-list no-padding no-margin">
                                    <li class="mdl-list__item mdl-list__item--two-line  no-padding no-margin">
                                        <span class="mdl-list__item-primary-content">
                                          <span>Limite Total</span>
                                          <span class="mdl-list__item-sub-title">{{cartaoSelecionado.limite | currency : "R$"}}</span>
                                        </span>
                                    </li>
                                    <li class="mdl-list__item mdl-list__item--two-line  no-padding no-margin">
                                        <span class="mdl-list__item-primary-content">
                                          <span>Limite Utilizado</span>
                                          <span class="mdl-list__item-sub-title">{{cartaoSelecionado.utilizado | currency : "R$"}}</span>
                                        </span>
                                    </li>
                                    <li class="mdl-list__item mdl-list__item--two-line no-padding no-margin">
                                        <span class="mdl-list__item-primary-content">
                                          <span>Limite Disponível</span>
                                          <span class="mdl-list__item-sub-title">{{cartaoSelecionado.limite - cartaoSelecionado.utilizado | currency : "R$"}}</span>
                                        </span>
                                    </li>
                                </ul>    
                            </div> 
                                
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone"
                                 ng-show="fatura.fechada != true">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="text" id="valorFechamento" ng-model="valorFechamento" ui-money-mask>
                                  <label class="mdl-textfield__label" for="valorFechamento">
                                    {{cartaoSelecionado.utilizado | currency : "R$"}}  
                                  </label>
                                </div>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="fecharFatura(valorFechamento)">
                                  Fechar Fatura
                                </button>
                            </div>  
                        </div>
                        <div class="mdl-card__actions mdl-card--border" style="text-align:right;">
                            <button id="meusCartos" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--primary">
                                <label>Meus Cartões</label>
                                <i class="material-icons">arrow_drop_down</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="meusCartos">
                                <li class="mdl-menu__item" ng-repeat="cartao in cartoes"
                                    ng-click="changeCartaoSelecionado(cartao)">{{cartao.descricao}}</li>
                            </ul>
                        </div>
                        <div class="mdl-card__menu">

                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp mdl-color--white" style="width:100%">
                        <div class="mdl-card__title no-padding-bottom">
                            <h2 class="mdl-card__title-text">Lançamentos</h2>
                        </div>
                        <div class="mdl-card__supporting-text mdl-grid" style="padding: 0px; align-items: center;">
                            <ul class="mdl-list no-padding no-margin">
                                <li ng-repeat="registro in fatura" class="mdl-list__item mdl-list__item--two-line no-padding no-margin"
                                    ng-show="registro.descricao != undefined">
                                    <i class="material-icons mdl-color-text--grey-500" style="margin-right:10px">radio_button_checked</i>
                                    <span class="mdl-list__item-primary-content">
                                        <span>{{ registro.dataCompra | date:'dd/MM/yyyy'}} - {{ registro.descricao }}</span>
                                        <span class="mdl-list__item-sub-title">
                                            
                                            {{ registro.valor | currency : "R$" }}
                                        </span>
                                    </span>
                                </li>
                            </ul>    
                        </div>
                        <div class="mdl-card__actions mdl-card--border" style="text-align:right;">

                        </div>
                        <div class="mdl-card__menu">

                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div ng-show="!isLoading && lancamentos.length <= 0" ng-cloak>
        <div class="mdl-grid">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--8-col-tablet"
                 style="margin: 0 auto;">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">
                        Sem lançamentos cadastrados!
                    </h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Não existe lançamentos para este período!
                    Clique em Cadastrar para inserir uma nova receita, despesa ou transferência.

                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="cadastro">
                        Cadastrar
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="home">
                        Home
                    </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">visibility_off</i>
                  </button>
                  <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">autorenew</i>
                  </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isLoading" class="csspinner traditional"></div>
</div>
