<div class="page-content">
    
    <div class="mdl-color--white mdl-cell mdl-cell--10-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--1-offset-desktop
        mdl-shadow--2dp mdl-color-text--grey-700">
        <form name="form">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="pagamentoRealizado">
                        <input type="checkbox" id="pagamentoRealizado" class="mdl-switch__input" ng-model="item.pagamentoRealizado">
                        <span class="mdl-switch__label">Pagamento já realizado</span>
                    </label>
                </div>
            </div>
            <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet"
                ng-class="{ 'is-invalid' : form.tipo.$invalid && form.$submitted}">
                <select class="mdl-textfield__input" name="tipo" ng-model="item.tipo" required>
                    <option value="receita">Receita</option>
                    <option value="despesa">Despesa</option>
                    <option value="cartao">Cartão de Crédito</option>
                </select>
                <label class="mdl-textfield__label" for="tipo">Tipo: </label>
            </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col
            mdl-cell--4-col-phone mdl-cell--8-col-tablet" ng-class="{ 'is-invalid' : form.categoria.$invalid && form.$submitted}">
                <select class="mdl-textfield__input" name="categoria" data-ng-model="item.categoria" required 
                      ng-options="categoria.descricao for categoria in categorias track by categoria.descricao">
                </select>
              <label class="mdl-textfield__label" for="categoria">Categoria: </label>
          </div>
        </div>
            <div class="mdl-grid">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col
                mdl-cell--4-col-phone mdl-cell--8-col-tablet" ng-class="{ 'is-invalid' : form.conta.$invalid && form.$submitted}"
                 ng-show="item.tipo != 'cartao'">
              
                <select class="mdl-textfield__input" name="conta" data-ng-model="item.conta" ng-required="item.tipo != 'cartao'" 
                      ng-options="conta.descricao for conta in contas track by conta.descricao"></select>
                <label class="mdl-textfield__label" for="conta">Conta: </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col
                mdl-cell--4-col-phone mdl-cell--8-col-tablet" ng-class="{ 'is-invalid' : form.cartao.$invalid && form.$submitted}"
                 ng-show="item.tipo == 'cartao'">

                  <select class="mdl-textfield__input" name="cartao" data-ng-model="item.cartao" ng-required="item.tipo == 'cartao'" 
                          ng-options="cartao.descricao for cartao in cartoes track by cartao.descricao"></select>
                  <label class="mdl-textfield__label" for="cartao">Cartão: </label>
            </div>    
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet"
               ng-class="{ 'is-invalid' : form.repeticao.$invalid && form.$submitted}">
                <select class="mdl-textfield__input" name="repeticao" ng-model="item.repeticao" required>
                    <option value="unica" selected>Única</option>
                    <option value="parcelada">Parcelada</option>
                </select>
                <label class="mdl-textfield__label" for="repeticao">Repetição: </label>
            </div>
          </div>
            <div class="mdl-grid mdl-color--grey-100" ng-show="item.repeticao == 'parcelada'">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-offset-desktop mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                  <input class="mdl-textfield__input" type="number" id="numParcelas" ng-model="item.numParcelas">
                  <label class="mdl-textfield__label" for="numParcelas">
                    Número de Parcelas
                  </label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                  <input class="mdl-textfield__input" type="number" id="parcelaInicial" ng-model="item.parcelaInicial">
                  <label class="mdl-textfield__label" for="parcelaInicial">
                    Parcela Inicial
                  </label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                <select class="mdl-textfield__input" id="formaRepeticao" ng-model="item.formaRepeticao">
                  <option value="0" selected>Por ...</option>
                  <option value="dia">Dia</option>
                  <option value="semana">Semana</option>
                  <option value="mes">Mês</option>
                  <option value="ano">Ano</option>
                </select>
              </div>
            </div>
            <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet"
               ng-class="{ 'is-invalid' : form.valor.$error && form.$submitted}">
            <input class="mdl-textfield__input" type="text" name="valor" ng-model="item.valor"
              style="margin-top:7px;" ui-money-mask required>
            <label class="mdl-textfield__label" for="valor">
              <i class="material-icons" style="vertical-align:bottom;">monetization_on</i>
              Valor
            </label>
          </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col
                mdl-cell--4-col-phone mdl-cell--4-col-tablet" ng-class="{ 'is-invalid' : form.data.$invalid && form.$submitted}"
                ng-show="item.tipo != 'cartao'">
                <input class="mdl-textfield__input" type="text" name="data" ng-required="item.tipo != 'cartao'"
                    style="margin-top:7px;" ng-model="item.vencimento" ui-date-mask>
                <label class="mdl-textfield__label" for="data">
                    <i class="material-icons" style="vertical-align:bottom;">today</i>
                    Vencimento
                </label>

            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col
                mdl-cell--4-col-phone mdl-cell--4-col-tablet" ng-class="{ 'is-invalid' : form.dataCompra.$invalid && form.$submitted}"
                ng-show="item.tipo == 'cartao'">
                <input class="mdl-textfield__input" type="text" name="dataCompra" ng-required="item.tipo == 'cartao'"
                    style="margin-top:7px;" ng-model="item.dataCompra" ui-date-mask>
                <label class="mdl-textfield__label" for="dataCompra">
                    <i class="material-icons" style="vertical-align:bottom;">today</i>
                    Data da Compra
                </label>

            </div>
            
        </div>
            <div class="mdl-grid">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col
            mdl-cell--4-col-phone mdl-cell--8-col-tablet" ng-class="{ 'is-invalid' : form.descricao.$invalid && form.$submitted}">
            <input class="mdl-textfield__input" type="text" name="descricao" ng-model="item.descricao" style="margin-top:7px;" required>
            <label class="mdl-textfield__label" for="sample3">
              <i class="material-icons" style="vertical-align:bottom;">description</i>
              Descrição...
            </label>
          </div>
        </div>
            <div class="mdl-grid">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col
            mdl-cell--4-col-phone mdl-cell--8-col-tablet">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="observacao" ng-model="item.observacao" style="margin-top:7px;"></textarea>
            <label class="mdl-textfield__label" for="observacao">
              <i class="material-icons" style="vertical-align:bottom;">note</i>
              Observações:
            </label>
          </div>
        </div>
            <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone" style="text-align:center">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" ng-click="limpar();">
              Cancelar
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="salvar(item)">
              Salvar
            </button>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent 
                         mdl-cell--hide-desktop mdl-cell mdl-cell--12-col" ng-click="salvar(item)">
              Salvar
          </button>
        </div>
        </form>
    </div>

</div>
