<div class="page-content">
    <div ng-show="!isLoading" class="mdl-grid" style="max-width:1152px;">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet" ng-repeat="mes in meses"
            ng-class="{'mdl-color-text--blue-500': mes.totais > 0, 'mdl-color-text--red-500': mes.totais <= 0 }">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text" ng-class="{'mdl-color-text--blue-500': mes.totais > 0, 'mdl-color-text--red-500': mes.totais <= 0 }">
                    {{ mes.descricaoMes }}
                </h2>
            </div>
            <div class="mdl-card__supporting-text">
                <table>
                    <tbody>
                        <tr>
                            <td>Créditos:</td>
                            <td>{{mes.creditos | currency : "R$"}}</td>
                        </tr>
                        <tr>
                            <td>Débitos:</td>
                            <td>{{mes.debitos | currency : "R$"}}</td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td>{{mes.totais | currency : "R$"}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="detalhar(mes)">
                    Detalhar
                </a>
            </div>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">visibility_off</i>
              </button>
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">autorenew</i>
              </button>
            </div>
        </div>

    </div>
    <div ng-show="isLoading" class="csspinner traditional"></div>
</div>
